interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://openlibrary.org/api/books?bibkeys=ISBN%3A9780753560686&format=json&jscmd=data
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?q=isbn%3A9780753560686
  response:
    body:
      string: '{"totalItems": 1, "items": [{"volumeInfo": {"title": "Mystery Volume", "authors": ["Famous Author"], "imageLinks": {"thumbnail": "https://books.google.com/thumb-mv.jpg"}}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
