interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://openlibrary.org/api/books?bibkeys=ISBN%3A9780241638194&format=json&jscmd=data
  response:
    body:
      string: '{"ISBN:9780241638194": {"title": "Gemini and Mercury Remastered", "authors": [{"name": "Andy Saunders"}]}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?q=isbn%3A9780241638194
  response:
    body:
      string: '{"totalItems": 0, "items": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
