interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://openlibrary.org/api/books?bibkeys=ISBN%3A9780241479414&format=json&jscmd=data
  response:
    body:
      string: 'Service Unavailable'
    headers:
      Content-Type:
      - text/plain
    status:
      code: 503
      message: Service Unavailable
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?q=isbn%3A9780241479414
  response:
    body:
      string: '{"totalItems": 1, "items": [{"volumeInfo": {"title": "1929 GB", "authors": ["Andrew Ross Sorkin"], "imageLinks": {"thumbnail": "https://books.google.com/thumb.jpg", "smallThumbnail": "https://books.google.com/small.jpg"}}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
