interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://openlibrary.org/api/books?bibkeys=ISBN%3A9780241479414&format=json&jscmd=data
  response:
    body:
      string: '{"ISBN:9780241479414": {"title": "1929", "authors": [{"name": "Andrew Ross Sorkin"}], "cover": {"small": "https://covers.openlibrary.org/b/id/15161975-S.jpg", "medium": "https://covers.openlibrary.org/b/id/15161975-M.jpg", "large": "https://covers.openlibrary.org/b/id/15161975-L.jpg"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?q=isbn%3A9780241479414
  response:
    body:
      string: '{"totalItems": 0, "items": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
